[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
ipython = "*"
djangorestframework-simplejwt = "*"
python-environ = "*"
drf-yasg = "*"
setuptools = "*"
drf-nested-routers = "*"
django-filter = "*"
flake8-html = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
